name: "tests"

on:
  pull_request: ~
  push:
    branches: [main]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
        dependencies:
          - highest
        include:
          - php-version: "8.4"
            dependencies: lowest
      fail-fast: false
    env:
      SYMFONY_DEPRECATIONS_HELPER: ${{ matrix.dependencies == 'lowest' && 'disabled=1' || '' }}

    services:
      mysql:
        image: mysql:8
        ports:
          - 3306:3306
        options: --health-cmd "mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 10
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: odm

      postgres:
        image: postgres:14
        ports:
          - 5432:5432
        options: --health-cmd "/usr/bin/pg_isready" --health-interval 10s --health-timeout 5s --health-retries 10
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: odm

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, xml, ctype, iconv, intl, pdo_mysql, pdo_pgsql

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: Install PHPUnit
        run: php vendor/bin/simple-phpunit install

      - name: Run tests (MySQL)
        env:
          DATABASE_URL: mysql://root:root@127.0.0.1:3306/odm?serverVersion=8.0
        run: php vendor/bin/simple-phpunit

      - name: Run tests (PostgreSQL)
        env:
          DATABASE_URL: postgresql://postgres:postgres@127.0.0.1:5432/odm?serverVersion=14&charset=utf8
        run: php vendor/bin/simple-phpunit
